@charset "UTF-8";

@import url('/css/style.css');


/* 지도 화면*/

/* 좌측 메뉴 */
#nav {
  display: grid;
  row-gap: 30px;
  background-color: white;
  position: absolute;
  top: 90px;
  left: 10px;
  min-width: 450px;
  padding: 20px;
  height: calc(100vh - 160px);
  border-radius: 40px;
  transition: left 300ms ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

*::-webkit-scrollbar {
  display: none;
}

#nav.closed {
  left: -440px;
}

#navClose {
  position: absolute;
  height: 30px;
  top: calc(50% - 30px);
  left: 0px;
  background-color: white;
  padding: 5px;
  cursor: pointer;
  color: var(--primary);
  font-size:1.2em;
  transition: left 300ms ease-in-out;
}

#navContent {
  display: grid;
  grid-template-rows: auto;
  overflow-y: scroll;
}

#itemlist {
  overflow-y: scroll;  
}

#itemlist .item {
	margin: 15px 5px;
	padding: 10px;
	border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 300ms ease-in;
}
#itemlist .item:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	
}

#layoutwrapper {
  display: grid;
  place-items: center;
}

#layoutwrapper .seat {
  display: grid;
  place-items: center;
  color: white;
  font-weight: 700;
  width: 100%;
  height: 100%;
}
.seat.normal {background-color: var(--primary); cursor: pointer;}
.seat.disabled {background-color: var(--secondary); cursor: pointer;}
.seat.woman {background-color: var(--pink); cursor: pointer;}
.seat.na{background-color: #B5B5B5; cursor: pointer;};
.seat.road {cursor: default;}

/* 상단 로고 & 로그인 */

#logo {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  max-width: 400px;
}

#logo .btn-set > * {
  margin: 0.4rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
}

/* 메뉴 */



#menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  place-items: center;
}

#menu .btn {
  width: 25px;
  height: 25px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  font-size: 1.4rem;
}

#menu p {
	
}

/* 검색 */

#search {
  background-color: white;
  position: absolute;
  left: 125px;
  top: 15px;
  min-width: 300px;
  max-width: 300px;
  height: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;
  overflow: hidden;
  display: grid;
    grid-template-columns: 250px 50px
}

#search button {
  padding: 0;

}

#search form {
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  display: grid;
}

input#query {
  text-align: left;
  padding: 10px;
  border: none;
}

input#query:focus {
  outline: none;
  border: none;
}

#searchresult {
  position: absolute;
  min-width: 300px;
  padding: 20px;
  border-radius: 30px;
  z-index:999;
  top: 80px;
  left: 125px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: none;
  grid-template-rows: auto;
  row-gap: 5px;
  transition: width 300ms, height 300ms;
  -webkit-transition: width 300ms, height 300ms;
}

.searchitem {
  font-size: 1.2em;
  margin: 5px 10px;
  padding: 10px;
  cursor:pointer;
  border-radius: 30px;
  transition : background-color 300ms, color 300ms;
}

.searchitem:hover, .searchitem:focus {
  background-color: var(--primary);
  opacity: 0.8;
  color: white;
}

/* 현재 지도 위치 */

#current {
  background-color: white;
  position: absolute;
  left: 445px;
  top: 25px;
  height: 40px;
  padding: 0px 10px;
  border-radius: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-items: center;
  column-gap: 10px;
}

/* 우측 상단 메뉴 */
#menuicon {
  position: absolute;
  right:0px;
  top:0px;
}

/* 정보창 */
#infowindow {
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
}

#infowindow > div {
  margin-bottom: 1.2em;
}

#badge-set {
  display: inline-block;
}

.badge {
  width: 35px;
  height: 20px;
  padding: 2px 8px;
  border-radius: 40px;
  color: white;
}
