<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice.mapper">

<insert id="reply_insert">
	<![CDATA[
	{
	call declare begin
	
	update notice set step = step + 1 
	where root = #{root} and step > #{step};  
	
	insert into notice (id, root, title, content, writer
					, filename, filepath, step, indent )
	values ( seq_notice.nextval, #{root}, #{title}, #{content}, #{writer}
					, #{filename, jdbcType=VARCHAR}
					, #{filepath, jdbcType=VARCHAR}, #{step}+1, #{indent}+1 );
					
	end
	}
	]]>
</insert>


<update id="update">
	update notice set title = #{title}, content = #{content}
					, filename = #{filename, jdbcType=VARCHAR}
					, filepath = #{filepath, jdbcType=VARCHAR} 
	where id = #{id}					
</update>

<delete id="delete">
	delete from notice where id = #{id}
</delete>

<update id="read">
	update notice set readcnt = readcnt+1 where id = #{id}
</update>

<select id="detail" resultType="notice.NoticeDTO">
	select n.*, (select nickname from member m where m.nickname = writer) name 
	from notice n where id = #{id}
</select>


<insert id="insert">
	insert into notice(id, root, title, content, writer, filename, filepath)
	values ( seq_notice.nextval, seq_notice.currval, #{title}, #{content}, #{writer}
			, #{filename, jdbcType=VARCHAR}, #{filepath, jdbcType=VARCHAR} )
</insert>


<select id="list" resultType="notice.NoticeDTO">
	SELECT * FROM NOTICE
</select>

</mapper>